
    {{> head }}

    {{> navbar }}

    <div class="row">
    <div class="col-8">
        <h1>Perfiles Humanos</h1>
        <p>Descripcion de perfiles </p>

    </div>

     <div class="col-4">
         <img src="assets/img/perfil.png" class="img-thumbnail">
        
    </div>

    </div>
  {{> footer}}